@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

.container
{
    display: flex;
    
    & > .mini-container
    {
        background-color: rgba(37,27,67,0.2);
        border:1px solid #AA9FBE;
        border-radius: 10px;
        padding: 30px 35px;
        margin-bottom: 30px;
        padding-top: 0px;
        margin-top: 37px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset,
        rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
        
        
        & > .icon-box
        {
            width: auto;
            position: relative;
            top: -37px;
            display: flex;
            justify-content: center;
        }

        & > .content-box
        {
            margin-top: -10px;
            width:150px;
            height:60px;
            text-align: center;
            font-family: 'Montserrat', sans-serif;
            font-size: 14px;
            @media (max-width: 48em) {
                width:100px;
                height:40px;
                font-size: 12px;
            }
            & > h3
            {
                color:#FEFEFE;
            }
        }
    }
}