.container
{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 0px;
    height: 700px;
    & > .content
    {
        max-width: 30%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content:space-between;
        gap: 50px;

        & > h1
        {
            color: #EFEFEF;
            font-size: 40px;
        }

        & > span
        {
            color: #DFDFDF;
        }
    }
    & > .img
    {
        animation: 2s infinite UpDown linear ;
    }
}
@keyframes UpDown{
    0%{position: relative; top:0;}
    50%{position: relative; top:10px;} 
    100%{position: relative; top:0;}
}
