.container
{
    /*
    width: 60px;
    height:60px;
    background: linear-gradient(to right,var(--lColor), var(--rColor));;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    */
    width: 70px !important;
    height:70px;
    position: relative;
    & > .icon
    {
        top: -10px;
        right:-10px;
        position: absolute;
        background-color: #6159a7;
        width: 100%;
        height:70px;
        border-radius: 18px;
        transform: rotate(14deg);
    }
    & > .glass
    {
        width: 100%;
        height: 100%;
        display: flex;
        justify-self: center;
        align-items: center;
        backdrop-filter: blur(10px);
        background-color: rgba(97,89,167,0.3);
        border: 2px solid rgba(97,89,167,0.3);
        border-radius: 18px ;
        & > i
        {
            margin: auto;
            font-size: 36px;
            background: linear-gradient(to right,rgba(255,255,255,.1),rgba(255,255,255,.3));
            -webkit-background-clip:text;
            background-clip: text;
            -webkit-text-fill-color: transparent;
            display: flex;
            justify-self: center;
            align-items: center;
            width: 50%;
            height: 100%;
        }
    }
   

}